html {
    scroll-behavior: smooth;
    background: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

img {
    width: 40px;
    height: 40px;
}

div {
    display: flex;
    align-items: center;
}

p {
    font-size: 20px;
    font-weight: 700;
}

.img__svg {
    background-color: black;
    -webkit-mask-size: auto;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}