@media (max-width: 1700px){
    .header {
        height: auto;
    }

    .header__row{
        margin-top: 10px;
        grid-template-columns: 80px minmax(500px, 1300px) 210px;

        & > div:nth-child(2){
            grid-column: 1/-1;
            grid-row-start: end;
        }
    
        & > div:nth-child(3){
            grid-column-start: 3;
        }
    }

    .navigation {
        padding-left: 50px;
        padding-right: 50px;
    }
}